#start {
    display: block;
}

#quiz {
    display: none;
}

#end {
    display: none;
}

#initials {
    display: none;
}

.btn {
    border-radius: 90;
    border: 2px solid black;
    background-color: blueviolet;
}

.btn:hover {
    background-color: grey;
    color: white;
    border: 2px solid white;
}